.Chatbot {
  max-width: 1020px;
  margin: auto;
  margin-top: 70px;
}

.h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  position: sticky;
  top: 0;
  color: black;
  font-weight: 500;
}

.h1 .span {
  font-weight: 600;
  color: #976aa2;
}

.key {
  font-weight: bold;
}

.user_msg {
  color: #976aa2;
  max-width: 52%;
  padding: 15px;
  border-radius: 50px;
  border: solid 3px #976aa2;
  text-align: right;
  margin-left: 48%;
  display: flex;
  flex-direction: row-reverse;
}

.assistant {
  background-color: #976aa2;
  max-width: 52%;
  padding: 15px;
  border-radius: 50px;
  color: white;
}

p span:first-child {
  margin-right: 0;
}

.hide {
  visibility: hidden;
  display: none;
}

.typing {
  background-color: #976aa2;
  border-radius: 50px;
  max-width: 52%;
  padding: 15px;
}


.doubt-form {
  text-align: center;
  position: sticky;
  bottom: 0px;
  width: 100%;
  padding: 2% 5%;
}

.doubt {
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: solid 2px #ef8236;
  color: black;
  outline: none;
}
.main-container {
  padding: 160px 60px 180px;
    border: solid 0px #0000003e;
    font-size: medium;
    text-align:center;
    box-shadow: 0 40px 100px,
    0 40px 100px;
}
 
.main-container, .otp-input{
  
  font-size: large;
  color: black;
  color: black;
  
}

.main-container, .otp-btn{
  font-size: medium;
}

